@charset "utf-8";

:root {
  --accent-color: #37e718;
  --gray: #707070;
  --white: #ededed;
}

.flex {
  display: flex;
}

.inner {
  width: calc(100% - 62rem);
  margin: auto;
}

.pager {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
html {
  scroll-behavior: smooth;}
html,
body {
  font-family: 'noto-sans', sans-serif;
  font-size: 10px;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  color: var(--white);
  background-color: black;
}
h1{padding-left: 2rem;}
h2 {
  font-size: 7rem;
  margin-left: 31rem;
  font-weight: bold;
  margin-bottom: 8rem;
}

h3 {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
h3+div{margin-top: 3rem;}
strong{font-weight: 700;}
header {
  gap: 50rem;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  font-size: 2rem;
  position: fixed;
  background-color: var(--white);
  z-index: 100;
  color: black;
}
header h1 img{height: 4rem;}


header ul {
  gap: 4rem;
}

header ul li a {
  display: block;
  padding: 1rem;
}

header ul li:hover {
  color: #000;
  background-color: var(--accent-color);
}

main .mtop>p {
  width: 100%;
}

main .mtop img {
  width: 100%;
  height: 100vh;
}

main .mtop {
  position: relative;
}

main .mtop .intro {
  font-size: 10rem;
  color: var(--white);
  position: absolute;
  left: 55rem;
  top: 40rem;
  text-align: end;
  line-height: 1.2;
}

.all {
  background: url(../image/bg-1.jpg) no-repeat 0 0;
  vertical-align: top;
}
.intro p{letter-spacing: -5px;}
.intro strong{font-size: 12rem;
font-weight: bold;}
.intro .myName strong{color: var(--accent-color);}
.intro span{font-size: 3rem;
  
}
.intro span:hover{color: var(--accent-color);}

.tag span{

  display: inline-block;
  letter-spacing: 0.1rem;}
section{width: 100%;
  vertical-align: top;
  margin-top: 11rem;}

/* 


.mainAbout{margin-bottom: 10.5rem;}
.mainAbout p{font-size: 2.4rem;}
.aboutMe{gap: 32rem;}
.aboutMe span{font-size: 1.8rem;}
.aboutMe p img{width: 33rem;
height: 44rem;
margin-bottom: 4.3rem;}
.profile div{padding-bottom: 3.2rem;}
.profile div p{line-height: 1.2;
padding-bottom: 0.5rem;} */
.Skill {
  width: 100%;

}

.Skill .mySkill {
  width: calc(100%-61.6rem);
  flex-wrap: wrap;
}

.Skill p {
  width: 50rem;
  height: 12rem;
  font-size: 1.8rem;
  padding-left: 8rem;

  position: relative;
}

.Skill h2 {
  margin-bottom: 11rem;
}

.mySkill {
  gap: 8rem;
  line-height: 1.5;
}

.htmlIcon::before {
  content: "";
  display: block;
  width: 5rem;
  height: 10rem;
  background: url(../image/skillIcon.png) no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
}


.cssIcon::before {
  content: "";
  display: block;
  width: 5rem;
  height: 10rem;
  background: url(../image/skillIcon.png) no-repeat -69px 0;
  position: absolute;
  left: 0;
  top: 0;

}

.jsIcon::before {
  content: "";
  display: block;
  width: 5rem;
  height: 10rem;
  background: url(../image/skillIcon.png) no-repeat -142px 0;
  position: absolute;
  left: 0;
  top: 0;

}


.figmaIcon::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: url(../image/skillIcon.png)no-repeat -162px -103px;
  position: absolute;
  left: 0;
  top: 0;
}

.psIcon::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: url(../image/skillIcon.png)no-repeat 0 -103px;
  position: absolute;
  left: 0;
  top: 0;
}


.aiIcon::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: url(../image/skillIcon.png)no-repeat -81px -103px;
  position: absolute;
  left: 0;
  top: 0;
}

.planning {
  gap: 5rem;
  font-size: 3rem;
  position: relative;
  justify-content: space-between;
}

section .webImg {
  width: 55rem;

}

section .mobileImg {
  width: 15rem;

  position: absolute;
  left: 45rem;
  top: 15rem;
}

.detail {
  flex-direction: column;
  gap: 3rem;
  
  margin-left: 8rem;
  line-height: 1.3;
}
.detail>div{margin-top: 0;}
.btn {
  flex-direction: column;
  gap: 1.5rem;
}

.detail button {
  padding: 0.5rem 0.8rem;
  width: 30rem;
  height: 4.8rem;
  border: 1px solid var(--white);
  border-radius: 3rem;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.detail button:hover {
  background-color: var(--accent-color);
  border: none;
  color: #000;
}

.clonePage {
  margin-top: 30rem;
}

.clonePg {
  flex-direction: row-reverse;
  position: relative;
  justify-content: space-between;
}

.clonePg .mobileImg {
  position: absolute;
  left: 70rem;
}

.clonePg {
  gap: 5rem;
  font-size: 3rem;
  position: relative;
  justify-content: space-between;
}

.clonePg .detail {
  flex-direction: column;
  gap: 3rem;
  margin-right: 8rem;
  margin-left: 0;
}



.design .snsDesign img {
  width: 40rem;
  height: 40rem;
}

.snsDesign,.bannerDesign,.detailedPage,.monani
,.eventDesign {
  margin-top: 5rem;
  margin-bottom: 8rem;

}
.snsDesign{width: 100%;}
.snsDesign ul{flex-wrap: wrap;
gap: 1rem;}
.pager li a {
  display: block;
  padding: 1rem;
}

.bannerDesign{width: 100%;
height: 55rem;
overflow: hidden;}
.bannerDesign img{width: 1920px;
margin: auto;}
.eventDesign ul{gap: 1rem;}
.eventDesign img{width: 40rem;}
.detailedPage{position: relative;
padding-left: 30rem;}
.detailedPage::before{
  content: "";
  display: block;
  background: url(../image/pc_mockup.png) no-repeat 0 0;
  background-size: cover;
  width: 75rem;
  height:70rem;
  
}
.detailedPage2 p{
  width: 69.1rem;
  height: 38.7rem;
  overflow:auto;
  position: absolute;
  left: 33rem;
  top: 3.3rem;
}

.detailedPage2 p img{width: 80%;
  padding-left: 15rem;}
.detailedPage2{position: relative;
  padding-left: 30rem;}
  .detailedPage2::before{
    content: "";
    display: block;
    background: url(../image/pc_mockup.png) no-repeat 0 0;
    background-size: cover;
    width: 75rem;
    height:70rem;
    
  }
  .detailedPage p{
    width: 69.1rem;
  height: 38.7rem;
  overflow:auto;
  position: absolute;
  left: 33rem;
  top: 3.3rem;
  }
  
  .detailedPage p img{width: 80%;
  padding-left: 15rem;}
.contact{padding-bottom: 15rem;
font-size: 2rem;}
.contact p{text-align: center;}
.kakao{padding-top: 1rem;}
footer{width: 100%;
height: 10rem;
text-align: center;
font-size: 2rem;
background-color: #ccc;}
.pager li {
  width: 2rem;
  height: 2rem;
  background-color: var(--white);
  margin-bottom: 2rem;
  border: none;
  border-radius: 2rem;
}
.pager .on{background-color: var(--accent-color);}
footer p{padding-top: 3rem;
color: #000;}

